body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #f8f9fa;
}

.header {
  background-color: #e9ecef;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  padding: 20px 40px;
}

.header > img {
  width: 100px;
  height: 32px;
}

.header > ol {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 32%;
}

.header > ol > li {
  cursor: pointer;
}

.banner {
  background-color: #69db7c;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner > span {
  color: white;
  font-size: 48px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.form {
  width: 50%;
}
